*.log
*.exe
*.dll
*.obj
*.o
*.so
*.a
*.lib
*.pch
*.out
*.ncb
*.suo
*.user
*.aps
*.nupkg
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tgz
*.tar.gz
*.tar.bz2
*.pdf
*.exec
*.bak
*.tmp
*.swp
*.swo
*.pyc
*.pyo
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sqlitedb
*.db3
*.db4
*.db5
*.db6
*.db7
*.db8
*.db9
*.db10
*.db11
*.db12
*.db13
*.db14
*.db15
*.db16
*.db17
*.db18
*.db19
*.db20
*.db21
*.db22
*.db23
*.json
.vscode/